@import "tailwindcss";
@import './svg_styles.css';

:root {
    --bg1: #121414;
    --bg2: #2a3130;
    --primary: #7faf98;
    --accent1: #8fb9d6;
    --accent2: #d8a3aa;
    --accent3: #d8c676;
    --text-primary: #EDEDED;
    --text-secondary: #EDEDED;
    --text-disabled: #EDEDED;

    --kick: var(--primary);
    --roll: var(--accent1);
    --flutter: var(--accent2);
    --hiccup: var(--accent3);

    --radial-cubic-bezier: cubic-bezier(.16,.24,.33,1.55);
}

@theme inline {
    --color-bg1: var(--bg1);
    --color-bg2: var(--bg2);
    --color-primary: var(--primary);
    --color-accent1: var(--accent1);
    --color-accent2: var(--accent2);
    --color-accent3: var(--accent3);
    --color-text-primary: var(--text-primary);
    --color-text-secondary: var(--text-secondary);
    --color-text-disabled: var(--text-disabled);

    --color-kick: var(--kick);
    --color-roll: var(--roll);
    --color-flutter: var(--flutter);
    --color-hiccup: var(--hiccup);

    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg1: #1f2423;
    --bg2: #2a3130;
    --primary: #7faf98;
    --accent1: #8fb9d6;
    --accent2: #d8a3aa;
    --accent3: #d8c676;
    --text-primary: #E7ECEB;
    --text-secondary: #B6C3C1;
    --text-disabled: #7F908D;
  }
}

body {
  background: var(--bg1);
  color: var(--text-primary);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes radial-translate1 {
        0% {
            transform: none;
        }
        100% {
            transform: translate(75%, -129.9%);
        }
    }

@keyframes radial-translate2 {
    0% {
        transform: none;
    }
    100% {
        transform: translate(-51.3%, -141%);
    }
}

@keyframes radial-translate3 {
    0% {
        transform: none;
    }
    100% {
        transform: translate(-141%, -51.3%);
    }
}

@keyframes radial-translate4 {
    0% {
        transform: none;
    }
    100% {
        transform: translate(-129.9%, 75%);
    }
}
